---
import MainLayout from '@layouts/MainLayout.astro';
import Github from '@components/Icons/Github.astro';
import Youtube from '@components/Icons/Youtube.astro';
import Email from '@components/Icons/Email.astro';
import Codepen from '@components/Icons/Codepen.astro';
import Linkedin from '@components/Icons/Linkedin.astro';
import {Content as AboutMarkdown} from '@components/about.md';
import ContactForm from '@components/ContactForm.astro';
---
<MainLayout title="About">

	<main>
    <h1 class="text-4xl font-bold m-6 text-center font-serif">About Me</h1>
      
		<section class='markdown text-center mb-4'>
			<div class='prose dark:prose-invert w-full text-justify mr-0 ml-0 inline'>
			  <AboutMarkdown/>
			</div>
		  </section>
        <p class='mb-4 text-lg font-medium'>Send me a message</p>
        <div class="mb-8">
          <ContactForm/>
        </div>
        <hr class="my-16 w-3/4 mx-auto">
        <p class='mb-4 text-lg font-medium text-center'>Or Connect with me on</p>
        <div class='flex gap-3 mb-6 icons justify-center'>
          <Github/>
          <Linkedin/>
          <Youtube/>
          <Email/>
          <Codepen/>
        </div>
      </main>
</MainLayout>