---
import Projects from "@components/Projects.astro";
import Experience from "@components/Experience.astro";
import LatestPosts from "@components/LatestPosts.astro";
import Skills from "@components/Skills.astro";
import MainLayout from "@layouts/MainLayout.astro";
import Hero from "@components/Hero.astro";
---

<MainLayout title="Home">
  <main class="mb-auto">
    <Hero />

    <div class="container mx-auto w-full px-4 md:px-8">
      {/* Projects  */}
      <div id="projects">
        <Projects type="home" />
      </div>

      {/* Skills */}
      <Skills />

      {/* Experience */}
      <Experience />

      {/* Latest Posts */}
      <LatestPosts />
    </div>
  </main>
</MainLayout>
