---
import MainLayout from "@layouts/MainLayout.astro";
// const posts = await Astro.glob("../pages/post/*.md");
// posts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
import "../styles/global.css";
import moment from "moment";


import { getPosts } from '../../lib/notion'; // Adjust path to your script

const posts = await getPosts('24548095bfe8802a801cf7e924d89b77');
---
<MainLayout title="Posts">
	<div class="mb-4">
		<!-- <h1 class="text-xl font-bold my-6 text-center font-serif">Posts</h1> -->
		<div class="space-y-10">
			{
				posts.map((post) => (
					<div class="w-full lg:max-w-full lg:flex group cursor-pointer ">
						<div class="blog-item space-y-3">
							<div>
								<a href={post.url} 
								   class="text-xl font-bold mb-2 w-fit capitalize fancy-text">
									{post.title}
								</a>
							</div>
							<div class="text-sm">
								<span>Created: {new Date(post.created_at).toLocaleDateString()}</span>
							</div>
							<div>
								<div class="text-sm">
									<a
										href={post.url}
										class="custom-readmore-button"
									>
										<span>Read More</span>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											fill="currentColor"
											class="inline-block transition-transform ml-2 w-4 h-4"
											viewBox="0 0 16 16"
										>
											<path
												fill-rule="evenodd"
												d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
											/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				))
			}
		</div>
	</div>
	<ul></ul>
</MainLayout>
