---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Resume">
    <main>
        <div class="mb-10">
            <div class="p-4 cv-wrapper">
                <object type="application/pdf" data="/cv.pdf"
                width="100%"
                height="1000px"
                ></object>
            </div>
        </div>
    </main>
    </MainLayout>
