---
import MainLayout from "@layouts/MainLayout.astro";
import { uses } from "lib/static";
---

<MainLayout title="Uses">
    <main>
        <h1 class="text-4xl font-bold m-6 text-center font-serif">Uses</h1>
        <div class="mb-20">
            {
                uses.editor && (
                    <div class="mb-5">
                        <p class="text-xl font-bold">Editor</p>
                        <ul class="list-[square] pl-6 space-y-2">
                            {uses.editor.map((item, index) => (
                                <li>{item}</li>
                            ))}
                        </ul>
                    </div>
                )
            }

            {
                uses.tools && (
                    <div class="mb-5">
                        <p class="text-xl font-bold">Tools</p>
                        <ul class="list-[square] pl-6 space-y-2">
                            {uses.tools.map((item, index) => (
                                <li>{item}</li>
                            ))}
                        </ul>
                    </div>
                )
            }

            {
                uses.terminal && (
                    <div class="mb-5">
                        <p class="text-xl font-bold">Terminal</p>
                        <ul class="list-[square] pl-6 space-y-2">
                            {uses.terminal.map((item, index) => (
                                <li>{item}</li>
                            ))}
                        </ul>
                    </div>
                )
            }

            {
                uses.setup && (
                    <div class="mb-5">
                        <p class="text-xl font-bold">Setup</p>
                        <ul class="list-[square] pl-6 space-y-2">
                            {uses.setup.map((item, index) => (
                                <li>{item}</li>
                            ))}
                        </ul>
                    </div>
                )
            }
        </div>
    </main>
</MainLayout>
