---
import MainLayout from "@layouts/MainLayout.astro";
import { Content as UsesMarkdown } from "../content/uses.md";
---

<MainLayout title="Uses">
    <main>
        <article class="prose dark:prose-invert">
            <UsesMarkdown />
        </article>
    </main>
</MainLayout>
