---

---

<div class="ascii-avatar" aria-hidden="true">
  <canvas id="ascii-smoke-canvas"></canvas>
  <div class="ascii-glow"></div>
</div>

<style>
  .ascii-avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    width: 100%;
    height: 100%;
    min-height: 500px;
  }

  #ascii-smoke-canvas {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }

  .ascii-glow {
    position: absolute;
    inset: -20%;
    opacity: 0;
    background: radial-gradient(
      circle at 50% 50%,
      rgba(232, 130, 58, 0.06) 0%,
      transparent 65%
    );
    transition: opacity 0.8s ease;
    pointer-events: none;
  }

  .ascii-avatar:hover .ascii-glow {
    opacity: 1;
  }

  @media (max-width: 1024px) {
    .ascii-avatar {
      opacity: 1;
    }
  }
</style>

<script is:inline>
  (function () {
    const DARK_ART = `$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$&&X++x$&&$$$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$++:::::..:+x+X&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&x::             .:+X$$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&X;:.                  .:;;++$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$$$
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&+.                      ...:+$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$$$$X++;
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$;           .                 ;$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$x++++;;;
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&x     :;;++xxx++++;;::::       .X&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$X+;;;;;
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&;   ;xXXXXXXXXXXXXXXxxx+;:      X&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&X+;;++;
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&X: ;XX$$$$$$$$XXXXXXXXxxx+;:     +&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$XXXX;
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&+.;X$$$X$$$$$$$XXXXXXxxx+++;:    X&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$Xx;
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&:.+X$X$$$$$$X$$$XXXXXxxx+++;:   .&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$Xx;
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$::+X$$$$XXXXXXXXXXXXXXXX+++;:    $&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$X+
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$::XX+;:.  :;;++;:. .::::;;++;    X&&&&&&&&&&&&&&&&&&&&&&&&$&&&&&&&&&&&&&$X
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&+:::.       .             :::.  .$&&&&&&&&&&&&&&&&&&&&&$$$$&&&&&&&&&&&&&&$
$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&x+;::        .Xx           .::. .::+$&&&&&&&&&&&&&&&&&$$XXX$&&&&&&&&&&&&&&$
X&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$xxX::::      x$X:          ;;;;.:;;;X&&&&&&&&&&&&&$$$$XXXxX$&&$$$$&&&&&&&&X
X$$$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&X+X+:::.....+$$X+:       .;++;: .:;+$&$$$$$$$$$$$$XXxxXXxxXXXXXXX$&&&&&&&&X
xXXX$$$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$+xXX++++;:xxXx++x+ ::::;;+++;. :;+X&$$$$$$XXxxxXXxx++xxxxxxxxXxxXX$$$&&&&X
xXXXXXX$$$&&&&&&&&&&&&&&&&&&$$&&&&&&&&&&&&&$+;xXXXXXxx;::.  :.;xXx+++;+;:  :+xX$X$$$$$XXXXx+++xxx++++++++++++xXX$$&&$X
xXXXXXXXXXXX$$$$$$&&&&&&&$$XX$$$$&&&&&&&&&&$;:;xxxXX;;;;::::::::;x+;;;:.   :;+xXXXXXXxx+xxxxxXXXx++;++;;;;+++++xXXXXXX
xX$$XXXXXXXXXXXxxX$&&$$XXxxxxXXXXXXX$$&&&&&X:  :+xX;: .:;;;;:   .:+;:.      ;++++xxxx+++++x++++++++++++++++++;;++xxxx+
++xxxxxxxxxx++++++X$$$Xx+++++x++++++xXX$$$$X.   .;++:;x++;;;;;;:..::        ;xx++xxxxx+++++;;;:::;+++++xx++;;;;;++++++
:;++;;:::::::::;;;+xXXx+;;;;++++;;;;+++xXX$+     .:::;++;: .:;;:           .;Xxx++++xx+++;;;;;:.:;++;;++xx+;;;;;++x++;
;+++++;;;;;::::::;;+++;;;;;;+++;;;;;;++xxxXx;        ::+++;;;:.            :XXx+++xx++;;;;;;;;::.:::::;+xx+++++;;;++++
;++xxx++;+++;:::;;+++++;;;;;+++;;;;;;;++x+++;.         ...                .+XXx++++++;;;;;;;:::...:::::;++;;++++;;;+++
+XXXXXxx+xXX++;+++xxxx+++++++x++;;;;;;++x+xx+:                             ;x++++++++;;;+++;:::..::::::;;;;+++;;;;;;;+
xXXXXXXxxxXXx+xxXXXXXXXxxx+;++++++++++xXXXXXX;.                            .;;++xx++;;;+++;;;;;:::::::;;;::;;;:::;;;;;
;+xxx++++++++++xxXXXXXXXx++;;+++++xXXXXXXXXXx;.                              ;xXx+;::::;;;:::;;::::::;++;:::::::;;::::
;++++;;;++;;;;;+++++++++++;:;;++++xxXXXXXXXXx;.                              .:++;::..:;;;:..:::;;::;+++++;::::;;;:.::
;+++;;++++;;;;++++++++++++;::;+++++xx++;;;;:::.                                ..:::::;++;:..:::;;;;;+++;;;;::;++;::::
+++++++x++++++xXXXXXXXXXXx++++xx+++;:::::::::::.                               .......::::::::;;::;;;;;:::;;;++++;::;:
;++;;;++++;;;;+XXXXXXxxxxXXXXXx+;;::....:.::::::                                  .... .::::::::;;;;++;::::;+xx+++;;;;
+XXXx+xXx+;::+XX$$$XX+;;+xX$X+;:::.. ....::::::::                                     .:........:;++++;;::;;;++++++;;;
X&&&$$&&$X;;x$&&&&&&$x++XX$X+:::.  .. ..:::::::::. .                          .    .. ....    ....:;++;;;;;;;;;;;++++;
X&&&$$&&$X;;+$&&&&&&$x++x$X+:..    . .::.:::::::::. .   +x.::              .         ..  ..      ...;;;;;;;;;;;;;;;;+;
+X$XxxXXx+::+x$$&&&&$x+;+x;:.     .: ...:::::::::....    +;.:                .  ....  .     .   .  ..;;;;;;+++++++++xx
+XXx+xXXx+;:+xX$$&$$$XxxX+::...   .:..::::::::::::....    +               .   ....   .  .             ;+++xxxxXXXXX$$X
+$$XxX$$$X+;X$$&&&&&$$XXX+ ..    .:. .:::::::::::::....                    .. ....                     ;XXXXXXXXXXXXXX
;+x+++X$$x;;X$$$$$&&$Xx+x;      .....:::::::::::::::..  ::      .   ..   ...... ..  .                   +XXXXXXXXXxxx+
;+x+++XXx;::+XXXXX$$Xx+;;:     ..  .::::::::::::::::...     ...   .    ......  ..  ..                   ;XXXXXXXXXXxx+
+X$XXXXXx;:;+XX$$$$XXx++;        ....::::::::::::::.............    .  .....   .  ...                   :X$$$$$$XXXXXx
+X$XxX$Xx;:;x$$$$$$$XX++;.      ...::::::::::::::::..........   ...  .....   ...  ...  .                 +$$$$$$$$$$$X
+X$XXX$$X+;;x$&&&&&&$Xx+:     ...:.::::::::::::::.... ....    ....  .....   .    ..                      :X$$$$$$$$$$X
+$$XXX$$X+;;x$&&&&&&$Xx+:      ...::::::::.:........    .    ....  ::....  .........                      x$$$$$$$$$$X
x$$XXX$$X+:;x$$&&&&$$Xx; .     .:..::::::..:........ .. .   ... . ........                                ;X$$$$$$$$$X
x$$$XX$$X+;;x$&&&&&&$X+:.     .:::::::::..........     .  .........::...   .                               X$$$$$$$$XX
X$&$XX$$X+;;x$&&&&&&$X;.      ::;;;::::..........  .    . ..   .. .......   ..                             ;$$$$$$$$$X
X$$$XX$$Xx;;x$&&&&&$$X;       :::::::.........       :;:.    ...  .....   .                                .X$$$$$$$$X
X$$$XX$$Xx++x$$&&&&$$X:          ..::...  .        ..:;:. .:.... ..: . ..                                   x$$$$$$$$X
X$$$$$$$XXXxX$$&&&&$$X.         ......  .            .:. ..  .   ... .                                      ;$$$$$$$$X
X&&$$$$$XXXXX$$$$&$$$+..        ....  .                           ..                                        :X$$$$XX$X
X&&&$$$$$$$XX$$$$$$$$;           ...  .                                                                      X$$$$$$$X
$&&&$$$$$$$$$$&&&$$$X:..         .. ..                       :.                                              +$$$$$$$X
$&&&&$$$$$$$$$&&&&$$x           .:.. .             .....   ...   ...       ..                                +X$$$$$$X
$&&&&&&$$$$$$$$$$$$$+..         :....            .....:. .:::.  .. .     ...                                 ;X$$$$$$X`;

    const LIGHT_ART = `:...............................::::::::::::::::::::::::::::::::::::::::...........................:
:..............................:::::::::::::::::::::::::::::::::::::::::::::.......................:
:......::::::..::...::::::::::::::::::::::::::...:::::::::::::::::::::::::::.......................:
:.................:::::::::::::::::::::::::.................::::::::::::::.........................:
:...................::::::::::::::::::::::.......................:::::::...........................:
:........................:::::::::::::::::::::::::.................................................:
:..........................::::::::::::::::::::::::................................................:
:............................:::::::::::::::::::::::..:::..........................................:
:......::::::.................::::::::::::::::;++XXXXx+++;:........................................:
:......:::::::::..:::.......:::::::::.....:;+xX$$$$$$$$$XXx;::.....................................:
::::.::::::::::::::::::::::::::::.......:+XX$$$&&&&&&&&&&$$$Xxx+;...............................:::;
::::::::::::::::::::::::::::::::.......:X$$&&&&&&&&&&&&&&&$$$$$X+...........................:;;;;+xx
::::::::::::::::::::::::::::::::......;$$&&&&$XXXxXX$$$$$$$&$$$$$;.........................::;++xxxx
:::::::::::::::::::::::::::::::::.....+$&$x+;;;;;;;;;;+++xxX$$$&&;...........................:;xxXxx
:::::::::::::::::::::::::::::::::....:X$x;;;;:::;;;;;;;;+++xX$&&&x..::.......................::;+;+x
::::::::::::::::::::::::::::::::.....+$x;:;:;;;;;;;;;;;;++++xX&&&+...::::......................::;+x
::::::::::::::::::::::::::::::::::..:xX+;;;:::::;:;;;;;;++++xX&&&:..............................:;+x
:::::::::::::::::::::::::::::::::::::xX+;;;;++;;;;;+++++++++xX$&&+...................:::.........:;+
:::::::::::::::::::::::::::::::::::::+X++XX$$$XXxxX$$$$$$XXxxx$&&;.................::::::........::;
:::::::::::::::::::::::::::::::::::::+xX$$$&&&&$xx$&&&&&$&&$XX$&xx+...........::::::;;;:...........:
;:::::::::::::::::::::::::::::::::::;+;XxX$&&&$X;;X&&&&&&$$XxxXXxxx;::........:::;;;++;::::::....::;
;;:::::::::::::::::::::::::::::::::::+;+XXXXXXX;:;+X$$$$$$X++xX$Xx+::::::;;::::;++++++;;;;;;:::::.:;
+;;;;::::::::::::::::::::::::::::::::++;;;++xx+++xXxxXxxxxxxxx$$xx;:;;::;;++++++++++++++++++;;;::.:;
+;;;;;;::::::::::::::::::::::::::::::;x+;;;;;+xX$$$Xx+;++xxxx$$$++;;;;;;;++++++++++xxxxxxxxx+++;:::;
;;;;;;;;;;;;;;;:::::;;;+;;;;;;:::::::x$Xx+;+XXxxxxxXX$Xx+xXX$&&$X++++++++xx++++++++xx+xxxx+++x++++++
+;;;;;;;;;+++++;:::;+xx++++++++;;::::x&&$x++XX+;++++xX$XXX$$&&&$x++++++++++++xxXXXx+++++++xxxxxx+++x
XxxxxXXXXXXXxxxx+;;+xxxx++xxxxxx++;;;X&&$$XXXx+xX$$Xxx$$$&&&&&&$X+++++++++xxxxxXX$Xxxxx+++xxxxxx+++x
x++++xxxxXXXXXXx++xxxXxx++xxxxxx+++++x$$$&$$$XxxxxxXX$$$&&&&&&&$+++x++++xxxxxxxXX$XXXXXx++xxxxxxxx+x
x++;++++++xxXXxx+++xxxxx++xxxXXxx++++xX$&&$$$&$$$$$$&&&&&&&&&&&x+++++++xxxxxxXXXX$XXXXXXxxxx+xxxxxxx
+;;;;;+++;+++++;+++++++++++xxxxx++++++x$$$$$$&&&&&&&&&&&&&&&&&&$xxxx+++xxxx+xxXXX$XXXXXXxXxxxXXXxxxx
x+++++++++++++;;;;;;+++xx+++++;;;;;;;+x$$$$$&&&&&&&&&&&&&&&&&&&$$X+++xxXXXxxXXXxXXXXXXxxxX$XXXXXXXXX
xx++xxxxxxxxx+++++++++xxx+++++;;;;;;;+x$$$$&&&&&&&&&&&&&&&&&&&$$$$x+xxX$$XxxX$$XXXXXXxxxxxxXXXXxXXXX
x+xxxx++xxxxx+++++++++xXxx+++++++xxxxXX$$$&&&&&&&&&&&&&&&&&&&&&$$$$$XXXXXxxxXX$XXXXXxxxxxxxXXxxxXXXX
x++++++++xx++;;;;;;;;;++++++xxXXXXXXXXXXX&&&&&&&&&&&&&&&&&&&&&&$$$$$$$XXXXXXXXXxxXXXXxxXXXXxx++xxXXX
xxxxxxxxxxXx+;;;;++x++;;;+xxXXXX$XXXXXXXX$$$&&&&&&&&&&&&&&&&&&$$$$$$$$$$$$XXXXXXXXxxxxxXXXXx++++xxxx
;::;;::;+xx;:::::;+x+;;;xXXX$$X$XXXXXXXXXX$$$$&&&&&$&&&&&&&&&&&$$$$$$X$$$$XX$$$$$XXxxxxxXXXxxxxxxxxx
;:::;:.:+x+::...:;+x+;:xXX$$$$X$XXXXXXXXXX$$$&$$xX$$&&&&&&&&&$$$$$$$$$$$$$$$$$$$$$$$Xxxxxxxxxxxxxxxx
+;;;+;;+xXx;:::::;+xx+xX$$$$$X$$XXXXXXXXXXXX$$$&xxXX&&&&&&$$$$$$$$$$$$$$$$$$$$$$$$$$$Xxxxxxxxxxxx+++
+;;++;;+xXx;;::::;;+++XX$X$$$XX$XXXXXXXXXXX$X$$$$x$$$$&$$$$$$$$$$$$$$$$$X$$X&$$$$$$$$$$x++++++;;;;;;
+;;++;::+x+:::::::;+;+$X$$$$XXX$XXXXXXXXXXXX$$X$$&&&&&$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$X+;;;;;;;;;;+
xx+xx+;+xX+;;;;::;+x+x$$&$$$$$XXXXXXXXXXXXXXX$$$X$$$$$$$$$$$$$X$$$$$$$$X$$$$$$$$$$&&$$$$x;;;++++++++
+;;;;;;+XX+;;;;;;;+xx$$&&$$$$$XXXXXXXXXXXXXXXX$$$$$XX$$$$$$$X$$XX$$$$$X$$$$$$$$$$&&&$$$$X;;;;;;;;;;+
x;;+;;;+XX+;:::::;++x$$$&$$$$$XXXXXXXXXXXXXX$$XXX$X$$$$$$$$$XXX$$$X$$$XX$$X$&$$$$&&&$$$$$+;;;;;;;;;;
+;;;;;;+xx+::::::;++X$$$$$$$XXXXXXXXXXXXXXXX$$XX$$$$$$X$$$XX$$$$$$$$$$$$$$$$$$&$$&&&$$$$$X::::::;;;;
+;;;;:;+xx+::::::;;+X$$$$$$X$XXXXXXXXXXXXX$$$$$$$$$$$$$$$XX$$$$$$$X$$$X$$$$$&&&$$&&&$$$$$$;:;:::;;;;
+:;;;::;xX+;:::::;;x$$$$$$$XXXXXXXXXXXXXX$$$$$$$$$$XX$$$$XXX$$$$$$$$$$$$$$$&&&&&$&&$$$$$$$X;;;;;;;;+
;::;;::;xx+::::::;+X$$$$$XXXXXXXXXXXX$$$$$$$$$$$$$X$$$X$$X$$$X$$$X$$$$$$$$$&&&$$&&&$$$$$$$$;;;;;;;;;
;::;;::;xx+::::::;+X$$$&&XXXXXXX$$$$$$$$$$$$$XX$$$$$$$$$XXXX$$$$$$$$$$$$$$$$&&&$&$&$$$$$$$$x;;;;;;;;
;::;;::;+x+;:::::;+X$$$&&$$$XXX$$$$$$$$$$$$$$XxX$XXXX$$$XX$$$$$$$$$$$$$$$$&&&&&$&&&$$$$$$$$X;;;;;;;;
;::;;::;;++;::::::x$$$$&&&$$X$X$$$X$$$$$$$$$$XX$$$$$$$$$$$$$$$$$$$$$$$$$$$$&&&&&&&&$$$$$$$$X+;;;;;;;
;::::::;;;;;:::::;X$$$$&&&&$XX$$$$$$$$$$$$$$$&$$$$$$$$$$$$$$$$$$$$$$$$$$$&&&&&&&$&&$$$$$$$$$+;;;;;;;
;::::::;;;;::::::+X$$$$&&&&$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$&$$$&&&&$&&&$$$$$$$$$x;;;;;;;
;::::::;:;;::::::+$$$$$$&&$$X$X$$$$$$$$$$$$$XX$$$$$X$$$$X$$$$$$$$$$$$$$$$$$&&&&&&&$$$$$$$$$$X;;;;;;;
:::::::;;;;:::::;x$$$$$$&&&X$$$$$$$$$$$$$$$$$XX$$XXX$$$$$$$$$$$$$$$$$$$$$$&&&&&&$&$$$$$$$$$$X+;;;;;+`;

    const cnv = document.getElementById("ascii-smoke-canvas");
    if (!cnv) return;
    const ctx = cnv.getContext("2d");

    function isDark() {
      const theme = document.documentElement.getAttribute('data-theme');
      // Cyberpunk and Nord have dark backgrounds
      if (theme === 'cyberpunk' || theme === 'nord') return true;
      // Brutal is always light
      if (theme === 'brutal') return false;
      // Sass/default: use the dark class
      return document.documentElement.classList.contains('dark');
    }

    function buildParticles(art) {
      const lines = art.split("\n");
      const rows = lines.length;
      const cols = Math.max(...lines.map((l) => l.length));
      const CELL_W = 3.6;
      const CELL_H = 7;
      const particles = [];

      for (let r = 0; r < rows; r++) {
        for (let c = 0; c < lines[r].length; c++) {
          const ch = lines[r][c];
          if (ch === " ") continue;
          particles.push({
            ch,
            homeX: c * CELL_W,
            homeY: r * CELL_H,
            x: c * CELL_W,
            y: r * CELL_H,
            vx: 0,
            vy: 0,
            opacity: 1,
            homeOpacity: 1,
          });
        }
      }

      const artW = cols * CELL_W;
      const artH = rows * CELL_H;
      const cx = artW / 2;
      const cy = artH / 2;

      for (const p of particles) {
        const dx = (p.homeX - cx) / (artW * 0.48);
        const dy = (p.homeY - cy) / (artH * 0.48);
        const dist = Math.sqrt(dx * dx + dy * dy);
        const angle = Math.atan2(dy, dx);
        const noiseVal = pseudoNoise(angle * 3, dist * 5) * 0.3;
        const edgeThreshold = 0.7 + noiseVal;

        if (dist > edgeThreshold) {
          const fade = 1 - (dist - edgeThreshold) / (0.4 + noiseVal * 0.2);
          p.homeOpacity = Math.max(0, Math.min(1, fade));
          p.opacity = p.homeOpacity;
        }
      }

      return {
        visible: particles.filter((p) => p.homeOpacity > 0.01),
        artW,
        artH,
        CELL_H,
      };
    }

    function pseudoNoise(x, y) {
      const n = Math.sin(x * 12.9898 + y * 78.233) * 43758.5453;
      return n - Math.floor(n);
    }

    let currentTheme = isDark() ? "dark" : "light";
    let data = buildParticles(currentTheme === "dark" ? DARK_ART : LIGHT_ART);

    let width, height, offsetX, offsetY, scale, dpr;
    let mouseX = -9999, mouseY = -9999;
    let isVisible = false;
    let isHovering = false;
    let animating = false;
    let cachedMutedColor = "";
    let cachedAccentColor = "";

    function resize() {
      const rect = cnv.parentElement.getBoundingClientRect();
      dpr = window.devicePixelRatio || 1;
      width = rect.width;
      height = rect.height;
      cnv.width = width * dpr;
      cnv.height = height * dpr;
      cnv.style.width = width + "px";
      cnv.style.height = height + "px";
      ctx.setTransform(dpr, 0, 0, dpr, 0, 0);

      scale = Math.min(width / data.artW, height / data.artH) * 1.2;
      offsetX = (width - data.artW * scale) / 2;
      offsetY = (height - data.artH * scale) / 2;
    }

    function getStyle(prop) {
      return getComputedStyle(document.documentElement)
        .getPropertyValue(prop)
        .trim();
    }

    function updateCachedColors() {
      cachedMutedColor = getStyle("--text-muted") || "#57534E";
      cachedAccentColor = getStyle("--accent") || "#E8823A";
    }

    const observerOptions = { threshold: 0.1 };
    const io = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        isVisible = entry.isIntersecting;
        if (isVisible) startAnim();
      });
    }, observerOptions);
    io.observe(cnv);

    const prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches;

    function draw() {
      if (!isVisible && !isHovering) {
        animating = false;
        return;
      }

      const nowTheme = isDark() ? "dark" : "light";
      if (nowTheme !== currentTheme) {
        currentTheme = nowTheme;
        data = buildParticles(currentTheme === "dark" ? DARK_ART : LIGHT_ART);
        resize();
        updateCachedColors();
      }

      ctx.clearRect(0, 0, width, height);

      ctx.save();
      ctx.translate(offsetX, offsetY);
      ctx.scale(scale, scale);

      ctx.font = `${data.CELL_H * 0.95}px "JetBrains Mono", monospace`;
      ctx.textBaseline = "top";

      const baseRadius = 90;
      const pushStrength = 22;
      const frameTime = performance.now() * 0.001;

      let localMX, localMY;
      if (isHovering) {
        localMX = (mouseX - offsetX) / scale;
        localMY = (mouseY - offsetY) / scale;
      }

      let needsNextFrame = isHovering || !prefersReducedMotion;

      for (const p of data.visible) {
        if (isHovering) {
          const ddx = p.x - localMX;
          const ddy = p.y - localMY;
          const dist = Math.sqrt(ddx * ddx + ddy * ddy);

          const n = pseudoNoise(
            p.homeX * 0.07 + frameTime * 0.4,
            p.homeY * 0.07,
          );
          const smokeRadius = baseRadius * (0.55 + n * 0.9);

          if (dist < smokeRadius && dist > 0) {
            const force = (1 - dist / smokeRadius) * pushStrength;
            const angle = Math.atan2(ddy, ddx);
            const jitter =
              0.7 +
              pseudoNoise(p.homeX * 0.13, p.homeY * 0.13 + frameTime) * 0.6;
            p.vx += Math.cos(angle) * force * 0.3 * jitter;
            p.vy += (Math.sin(angle) * force - force * 0.12) * 0.3 * jitter;
          }
        }

        const springK = isHovering ? 0.02 : 0.06;
        p.vx += (p.homeX - p.x) * springK;
        p.vy += (p.homeY - p.y) * springK;
        p.vx *= 0.88;
        p.vy *= 0.88;
        p.x += p.vx;
        p.y += p.vy;

        const dispDist = Math.sqrt((p.x - p.homeX) ** 2 + (p.y - p.homeY) ** 2);
        const dispFade = Math.max(0.08, 1 - dispDist / 80);
        p.opacity += (p.homeOpacity * dispFade - p.opacity) * 0.1;

        if (
          Math.abs(p.vx) > 0.01 ||
          Math.abs(p.vy) > 0.01 ||
          Math.abs(p.opacity - p.homeOpacity * dispFade) > 0.005
        ) {
          needsNextFrame = true;
        }

        let color = cachedMutedColor;
        if (isHovering) {
          const md = Math.sqrt((p.x - localMX) ** 2 + (p.y - localMY) ** 2);
          const colorNoise = pseudoNoise(
            p.homeX * 0.09 + frameTime * 0.3,
            p.homeY * 0.09,
          );
          const colorRadius = baseRadius * (0.8 + colorNoise * 1.2);
          if (md < colorRadius) {
            color = cachedAccentColor;
          }
        }

        let alpha = p.opacity;
        if (!isHovering && !prefersReducedMotion) {
          const nx = p.homeX / data.artW;
          const wavePhase = nx * Math.PI * 2.5 - frameTime * 2.0;
          const wave = Math.sin(wavePhase);
          const crest = (wave * 0.5) + 0.5;
          alpha *= 0.75 + crest * 0.25;
          needsNextFrame = true; 
        }

        ctx.globalAlpha = Math.max(0, Math.min(1, alpha));
        ctx.fillStyle = color;
        ctx.fillText(p.ch, p.x, p.y);
      }

      ctx.restore();

      if (needsNextFrame && (isVisible || isHovering)) {
        animating = true;
        requestAnimationFrame(draw);
      } else {
        animating = false;
      }
    }

    function startAnim() {
      if (!animating && (isVisible || isHovering)) {
        animating = true;
        requestAnimationFrame(draw);
      }
    }

    resize();
    updateCachedColors();
    startAnim();

    // Watch for theme toggles
    const themeObserver = new MutationObserver(() => {
      updateCachedColors();
      startAnim();
    });
    themeObserver.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class", "data-theme"],
    });

    window.addEventListener("resize", () => {
      resize();
      startAnim();
    });

    const avatar = cnv.closest(".ascii-avatar");
    avatar.addEventListener("mouseenter", () => {
      isHovering = true;
      startAnim();
    });
    avatar.addEventListener("mousemove", (e) => {
      const rect = cnv.getBoundingClientRect();
      mouseX = e.clientX - rect.left;
      mouseY = e.clientY - rect.top;
      startAnim();
    });
    avatar.addEventListener("mouseleave", () => {
      isHovering = false;
      mouseX = -9999;
      mouseY = -9999;
      startAnim();
    });

    avatar.addEventListener(
      "touchstart",
      (e) => {
        isHovering = true;
        const rect = cnv.getBoundingClientRect();
        mouseX = e.touches[0].clientX - rect.left;
        mouseY = e.touches[0].clientY - rect.top;
        startAnim();
      },
      { passive: true },
    );
    avatar.addEventListener(
      "touchmove",
      (e) => {
        const rect = cnv.getBoundingClientRect();
        mouseX = e.touches[0].clientX - rect.left;
        mouseY = e.touches[0].clientY - rect.top;
        startAnim();
      },
      { passive: true },
    );
    avatar.addEventListener("touchend", () => {
      isHovering = false;
      mouseX = -9999;
      mouseY = -9999;
      startAnim();
    });
  })();
</script>
