<form
    class="max-w-full"
    id="contactForm"
    name="contact"
    method="POST"
    netlify-honeypot="bot-field"
    data-netlify="true"
>
    <p class="hidden">
        <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
        </label>
    </p>
    <div class="relative z-0 w-full mb-5 group">
        <input
            type="email"
            name="email"
            id="email"
            class="custom-input peer"
            placeholder=" "
        />
        <label for="email" class="custom-label">Email address</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <textarea
            name="message"
            id="message"
            class="custom-input peer"
            placeholder=" "></textarea>
        <label for="message" class="custom-label">Message</label>
    </div>
    <button
        type="submit"
        class="text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800"
        >Submit</button
    >
</form>

<style>
    .custom-input {
        @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-slate-500 focus:outline-none focus:ring-0 focus:border-slate-600;
    }

    .custom-label {
        @apply peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-slate-600 peer-focus:dark:text-slate-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
    }
</style>

<script is:inline>
        
        document.getElementById("contactForm").addEventListener("submit", (e) => {
            const form = document.getElementById("contactForm");
            e.preventDefault();

            let email = document.getElementById("email");
            let message = document.getElementById("message");

            if (email.value == "" || message.value == "") {
                alert("Ensure you input a value in both fields!");
            } else {
                // perform operation with form input
                form.submit();
                email.value = "";
                message.value = "";
            }
        });
</script>
