<h1 class="text-4xl font-bold m-6 text-center">Skills</h1>
            <div class="mx-auto space-y-10 lg:space-y-0 lg:gap-10 lg:grid lg:grid-cols-2">
                <div class="mb-4">
                    <h2 class="mb-4 font-bold">
                        Tools & Languages I mostly work with
                    </h2>
                    <ul class="flex gap-3 skill-items flex-wrap">
                        <li>PHP</li>
                        <li>Laravel</li>
                        <li>Javascript</li>
                        <li>MySQL</li>
                        <li>Rest API</li>
                        <li>Tailwind CSS</li>
                        <li>Bootstrap</li>
                        <li>Github</li>
                        <li>Astro</li>
                    </ul>
                </div>

                <div>
                    <h2 class="mb-4 font-bold">Tools I try out as hobby</h2>
                    <ul class="flex gap-3 skill-items flex-wrap">
                        <li>React / Vue JS</li>
                        <li>Markdown</li>
                        <li>Vercel</li>
                        <li>Netlify</li>
                        <li>GraphCMS</li>
                        <li>Strapi</li>
                        <li>Docker</li>
                        <li>AWS</li>
                    </ul>
                </div>
            </div>