---
import { skills } from "../../lib/static";
---

<div class="">
    <h2 class="mb-4 font-bold">Skills</h2>
    <ul class="flex gap-3 skill-items flex-wrap">
        {skills.left.map((item, index) => 
            <li>{item}</li>
        )}
    </ul>
    <!-- <div>
        <h2 class="mb-4 font-bold">As hobby</h2>
        <ul class="flex gap-3 skill-items flex-wrap"> 
            {skills.right.map((item, index) => 
                <li>{item}</li>
            )}
        </ul>
    </div> -->

    <!-- <a href="https://skillicons.dev">
        <img src="https://skillicons.dev/icons?i=php,js,laravel,mysql,bash,css,sass,docker,tailwind,postman,linux,vscode,astro,netlify,git" />
      </a> -->
</div>
