<a href="https://codepen.io/fazley_rabby/"  target="_blank" rel="noreferrer " title='Codepen'>
    <svg class="h-6 w-6 cursor-pointer hover:scale-125 transition-transform ease" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" view-box="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><polygon points="12 2 22 8.5 22 15.5 12 22 2 15.5 2 8.5 12 2" /><line x1="12" x2="12" y1="22" y2="15.5" /><polyline points="22 8.5 12 15.5 2 8.5" /><polyline points="2 15.5 12 8.5 22 15.5" /><line x1="12" x2="12" y1="2" y2="8.5" /></svg>
  </a>