---
import Nav from './Nav.astro';
import Footer from './Footer.astro';
import Head from './Head.astro';
import '../styles/global.css';
---

<html lang="en" transition:animate="none">
    <Head/>
    <body class="bg-white dark:bg-black text-black dark:text-white">
        <Nav/>
        <div class="flex flex-col h-screen justify-between">
            <div class="container mx-auto w-full mt-32 md:mt-24 py-6">
                <section class='markdown text-center mb-4'>
                    <div class='prose dark:prose-invert w-full text-justify mr-0 ml-0 inline'>
                        <slot></slot>
                    </div>
                  </section>
            </div>
            <Footer/>
        </div>
    </body>
</html>
