---

---
<footer class="bg-gray-200 text-center lg:text-left dark:bg-black dark:text-white">
    <div class="text-gray-700 text-center p-4 bg-gray-100 dark:bg-black dark:text-white">
        <div class=" flex items-center justify-center gap-1.5 mb-2">
            Build with 
                </svg><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-red-600" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                  </svg>by Fazley Rabbi 
        </div>
        <div class="text-sm text-stone-500">Generated with <a href="https://astro.build/" class="text-blue-700" target="_blank">Astro</a></div>
    </div>
    
</footer>