---
import Head from "./Head.astro";
import Nav from "./Nav.astro";
import Footer from "./Footer.astro";
import "../styles/global.css";
import { fade } from "astro:transitions";
import ScrollToTop from "@components/ScrollToTop.astro";
import Loader from "@components/Loader.astro";
const { title } = Astro.props;
---

<html lang="en" transition:animate="none">
  <Head title={title} />
  <body class="bg-white dark:bg-black text-black dark:text-white">
    <Nav />
    <Loader />
    <div class="flex flex-col h-screen justify-between">
      <div
        class="container mx-auto w-full mt-32 md:mt-24 py-6"
        transition:animate={fade({ duration: "0.5s" })}
      >
        <slot />
      </div>
      <Footer />
    </div>
    <ScrollToTop />


    <script>
      declare global {
        interface Window {
          netlifyIdentity: any;
        }
      }
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: any) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }

      //thumbnail toggle for dark-light mode
      // document.querySelectorAll(".project img").forEach((element) => {
      //   let thumbnailDark = element.getAttribute("data-thumbnail-dark");
      //   if (element.getAttribute("data-thumbnail-dark") !== null) {
      //     element.addEventListener("mouseenter", function () {
      //       element.setAttribute("src", thumbnailDark);
      //     });
      //     element.addEventListener("mouseleave", function () {
      //       element.setAttribute("src", element.getAttribute("data-thumbnail"));
      //     });
      //   }
      // });
    </script>
  </body>
</html>
