---
import Head from './Head.astro';
import Nav from './Nav.astro';
import Footer from './Footer.astro';
import '../styles/global.css';
import { fade } from 'astro:transitions';
---
<html lang="en" transition:animate="none">
    <Head/>
    <body class="bg-white dark:bg-black text-black dark:text-white">
        <Nav/>
        <div class="flex flex-col h-screen justify-between">
            <div class="container mx-auto w-full mt-32 md:mt-24 py-6" transition:animate={fade({ duration: '0.5s' })}>
                <slot></slot>
            </div>
            <Footer/>
        </div>
    </body>
</html>
