---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
import ThemeIcon from "@components/ThemeIcon.astro";
---

<div class="custom-navbar">
    <nav
        class="container mx-auto flex items-center justify-items-center justify-between flex-wrap bg-transparent py-2 text-black dark:bg-transparent order-1 transition-all"
    >
        <a href="/" class="inline-flex items-center mr-4">
            <span
                class="text-2xl text-black dark:text-white font-medium font-logo"
            >
                Fazley
            </span>
        </a>

        <div class="items-start flex ml-auto lg:h-auto gap-1 font-medium"
        >
            <a
                href="/posts/"
                class=`nav-link ${currentPath.includes('posts') ? 'bg-slate-100': "dark:text-white"}`
            >
                Posts
            </a>
            <!-- <a
                href="/projects/"
                class=`nav-link ${currentPath.includes('projects') ? 'bg-slate-100': "dark:text-white"}`
            >
                Projects
            </a>

            <a
                href="/about/"
                class=`nav-link ${currentPath.includes('about') ? 'bg-slate-100': "dark:text-white"}`
            >
                About
            </a> -->
            <a
                href="/uses/"
                class=`nav-link ${currentPath.includes('uses') ? 'bg-slate-100': "dark:text-white"}`
            >
                Uses
            </a>
            <a
                href="/gallery/"
                class=`nav-link ${currentPath.includes('gallery') ? 'bg-slate-100': "dark:text-white"}`
            >
                Gallery
            </a>
            <a
            href="/resources/"
            class=`nav-link ${currentPath.includes('resources') ? 'bg-slate-100': "dark:text-white"}`
            >
                Resources
            </a>
        </div>

        <ThemeIcon />
    </nav>
</div>

<script is:inline>
    const checkDeviceWidth = () => {
        if (window.innerWidth <= 1025) {
            // nav.classList.add('opacity-0')
            // nav.classList.add('h-0')
            nav.classList.add("hidden");
        }
    };
    const handleClick = () => {
        const nav = document.getElementById("nav");
        nav.classList.toggle("hidden");
        document.querySelector(".close").classList.toggle("hidden");
        document.querySelector(".open").classList.toggle("hidden");
    };

    document.addEventListener("astro:after-swap", () => {
        checkDeviceWidth();
    });

    window.addEventListener(
        "resize",
        function () {
            checkDeviceWidth();
        },
        true,
    );

    checkDeviceWidth();
</script>
