---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); 
console.log(currentPath)
import ThemeIcon from '../components/ThemeIcon.astro';
---
<div class="custom-navbar">
    <nav
        class="container mx-auto flex items-center justify-items-center justify-between flex-wrap bg-transparent py-6 text-black dark:bg-transparent order-1 gap-4"
    >
        <a href="/" class="inline-flex items-center mr-4">
            <span
                class="text-2xl text-black dark:text-white font-bold uppercase tracking-tight font-logo"
            >
                Fazley
            </span>
        </a>

        <div id="nav" class='w-full lg:inline-flex lg:flex-grow lg:w-auto order-2 transition-all delay-150 duration-300 overflow-hidden'>
            <div
                class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto gap-4 font-semibold"
            >
                <a
                    href="/blogs/"
                    class=`nav-link ${currentPath.includes('blogs') ? 'bg-slate-100': "dark:text-white"}`
                >
                    Blogs
                </a>
                <a
                    href="/projects/"
                    class=`nav-link ${currentPath.includes('projects') ? 'bg-slate-100': "dark:text-white"}`
                >
                    Projects
                </a>
                <a
                    href="/about/"
                    class=`nav-link ${currentPath.includes('about') ? 'bg-slate-100': "dark:text-white"}`
                >
                    About
                </a>
            </div>
        </div>


        <div class='lg:order-3'>
            <button
                        aria-label="Theme"
                        class='inline-flex p-3 hover:bg-gray-100 rounded lg:hidden text-black ml-auto  outline-none dark:text-white dark:hover:text-black'
                        onclick="handleClick()"
                    >
                        <svg
                            class='w-6 h-6 dark:fill-white'
                            fill='none'
                            stroke='currentColor'
                            viewBox='0 0 24 24'
                            xmlns='http://www.w3.org/2000/svg'
                        >
                            <path
                                stroke-linecap='round'
                                stroke-linejoin='round'
                                stroke-width={2}
                                d='M4 6h16M4 12h16M4 18h16'
                            />
                        </svg>
                    </button>
                    <ThemeIcon />
        </div>
    </nav>
</div>

<script is:inline>
    
    const handleClick = () =>{
        const nav = document.getElementById('nav')
        nav.classList.toggle('opacity-0')
        nav.classList.toggle('h-0')
    }

    document.addEventListener('astro:after-swap', () => {
        if(window.innerWidth <= 800){
            nav.classList.toggle('opacity-0')
            nav.classList.toggle('h-0')
        }
    });
</script>